@using SquishIt.Framework
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Controll</title>
    @{
        WriteLiteral(Bundle.Css().ForceDebug()
            .AddDirectory("~/Content/css/")
            .Render("~/Content/Controll_#.css"));
    }

</head>
<body>
    <div class="container">
        <div id="login">
            <div class="login-header">
                <div class="banner" role="banner">
                    <h1>Jabb</h1>
                    <div class="jabbrLogo large-logo" id="logo"></div>
                    <div>
                        Powered by <a href="https://github.com/SignalR/SignalR" target="_blank">SignalR</a>
                    </div>
                </div>
            </div>
            <div class="login-body">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>