/* setting up animated transitions, and some defaults */
* {
    margin: 0;
    padding: 0;
}

/* make'em all full screen */
.container div {
    top: 120px;
    bottom: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header {
    background-color: lavender;
    height: 120px;
}

/* set up log defaults */
.log {
    position: absolute;
    left: 0;
    background-color: gold;
}
/* set up log, if invoke's visible or if it isn't (defined by the containers class) */
.invokehidden .log {
    right: 235px;
}
.invokevisible .log {
    right: 585px; /*235px + 350px ( activities + invoke width )*/
}

/* set up invoke defaults */
.invoke {
    position: absolute;
    overflow: hidden;
    right: 235px;
    background-color: mediumslateblue;
}
/* set up invoke, if it's visible or not (defined by the containers class) */
.invokehidden .invoke {
    width: 0;
}
.invokevisible .invoke {
    width: 350px;
}

/* set up activities */
.activities {
    position: absolute;
    right: 0;
    width: 235px;
    background-color: lightcoral;
}

li.activity a {
        cursor: pointer
}

.logitems {
    border: 3px solid orchid;
    overflow: auto;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    left: 0;
    right: 0px;
    position: absolute;
    top: 55px;
    bottom: 40px;
    background-color: #fff;
}

.logitems li {
        list-style-type: none;
        position: relative;
        margin: 0px;
}

.logitem {
    border-bottom: 1px solid #eee;
    border-left: 175px solid #f1f1f1;
}
    .logitem .left {
        float: left;
        width: 170px; /* width should exclude padding */
        padding: 5px;
        margin-left: -175px;
    }

    .logitem .middle {
        margin-right: 95px;
        padding: 5px;
        word-wrap: break-word;
    }

    .logitem .right {
        position: absolute;
        padding: 5px;
        top: 0px;
        right: 0px;
        width: 85px;
    }

.selectedPickerValue {
    background: lightsalmon;
}